<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Never Anonymous</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	
	<body>
		<div class = "container">
			<h1>Welcome to Never Anonymous</h1>
			<h3>Check out our posts:</h3>
			<div class="row">
			    <div th:each="forum:${posts}">
			        <div class="col-md-6">
			            <div class="panel panel-default">
			                <div class="panel-heading">
			                    <p th:text="${forum.title}"/>
							</div>
						    <div class="panel-body">
								<p th:text="${forum.author}"/>
								<p th:text="${forum.forumEntry}" />
						    </div>
						    <div class="panel-footer">
							<!-- Link to Update -->
							<!-- Link to Show  -->
							<!--  Link to Destroy -->
					        </div>
			          </div>
			        </div>
			    </div>
			</div>
			
			<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
		</div>
	</body>
</html>